{% extends "master.html" %}

{% block title %}
  Add Project
{% endblock %}


{% block css %}
<!-- the fileinput plugin styling CSS file -->
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- default icons used in the plugin are from Bootstrap 5.x icon library (which can be enabled by loading CSS below) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">

{% endblock %}
{% block jsscript %}

	<!-- buffer.min.js and filetype.min.js are necessary in the order listed for advanced mime type parsing and more correct
     preview. This is a feature available since v5.5.0 and is needed if you want to ensure file mime type is parsed
     correctly even if the local file's extension is named incorrectly. This will ensure more correct preview of the
     selected file (note: this will involve a small processing overhead in scanning of file contents locally). If you
     do not load these scripts then the mime type parsing will largely be derived using the extension in the filename
     and some basic file content parsing signatures. -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/js/plugins/buffer.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/js/plugins/filetype.min.js" type="text/javascript"></script>

<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/js/plugins/piexif.min.js" type="text/javascript"></script>

<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
    This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/js/plugins/sortable.min.js" type="text/javascript"></script>

<!-- bootstrap.bundle.min.js below is needed if you wish to zoom and preview file content in a detail modal
    dialog. bootstrap 5.x or 4.x is supported. You can also use the bootstrap js 3.3.x versions. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<!-- the main fileinput plugin script JS file -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/js/fileinput.min.js"></script>

  <script>
  $(document).ready(function(){
    $('select').on('change', function (e) {
      var optionSelected = $(this).find("option:selected");
      var valueSelected  = optionSelected.val();
      var textSelected   = optionSelected.text();
      $('#usedModel').val(valueSelected);
    });
    $('#createForm').on("submit",function(e){

                $('#content').siblings().children('h3').html('Creating Project on Progress!');
                data= new FormData( this );

      prog = $('<div></div>');
      $('#content').html(prog);
      prog.attr({
        "class":"progress",
        "role":"progressbar",
        "aria-valuenow":"75",
        "aria-valuemin":"0",
        "aria-valuemax":"100",
        }
      );
      prodChild = $('<div></div>');
      prog.append(prodChild);
      prodChild.attr({
        "class":" progress-bar-striped progress-bar-animated",
        }
      );
      prodChild.css({
        "width":"100%"
      });

      $.ajax(
          {
              url: "{% url 'project_sync_explorer'%}0/",
              type: "POST",
                  processData: false,
    contentType: false,
              data:data
              }
              ).done(function(data){
                card =$('<div"></div>');
                $('#content').html(card);
                card.addClass("card");
                card.css({"width":"18rem"});

                cardBody = $('<div"></div>');
                cardBody.addClass("card-body");
                card.append(cardBody);
                cardTitle = $('<div"></div>');
                cardBody.append(cardTitle);
                cardTitle.addClass("card-title");
                cardTitle.html(data['title']);
                cardText = $('<div"></div>');
                cardBody.append(cardText);
                cardText.addClass("card-text");
                rsText = '<p>'+data['description'] + '<p>';
                rsText += '<p>Task Number: '+data['task_number'] + '<p>';
                rsText += '<a href="http://192.168.0.210:8080/projects/'+data['id']+'" class="btn btn-primary" target="_blank">Go to project</a>';


                cardText.html(rsText);

                $('#content').siblings().children('h3').html('Project Created!');
              });
    e.preventDefault();
});
    });
  </script>
{% endblock %}


{% block contentbody %}
<div class="row">
    <h3>Create Project</h3>
</div>
<div class="row" id="content">
  <div class="col-8">
    <form method="post" enctype="multipart/form-data"  id="createForm">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title" name="title">
    </div>
    <div class="mb-3">
      <label for="trainModel" class="form-label">Model Anotasi</label>
      <select class="form-control" id="tranModel">
        {% for x in model_useds %}
          <option {% if x.used_as_default %}selected{% endif %} value="{{ x.model_path }}">{{ x.model_name }}</option>
        {% endfor %}

      </select>
      <input type="hidden" name="model-used" id="usedModel" value="yolov5n.pt">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Images</label>
            <input id="input-id" type="file" class="file" data-preview-file-type="text" name="image" multiple>
    </div>

    <input type="submit" value="Submit">
    </form>
  </div>
  <div class="col-3">
  </div>
</div>

{% endblock %}
