{% extends "master.html" %}

{% block title %}
  Label Studio Project Editor
{% endblock %}


{% block jsscript %}
  <script>

    function getFromDatabase() {
        function createRow(col1Content,col2Content){
            row = $('<tr></tr>');
            col1 = $('<td></td>');
            row.append(col1);
            col2 = $('<td></td>');
            row.append(col2);
            if (col1Content != null){
                col1.html(col1Content);
            }
            if (col2Content != null){
                col2.html(col2Content);
            }
            return row;
        }
        function createDBCard(title,projId,subtitle,description,anyServ){
            card = $('<div class="card" style="width: 18rem;"></div>');
            cardBody = $('  <div class="card-body"></div>');
            card.append(cardBody);
            cardTitle = $('<h5 class="card-title">'+title+'</h5>');
            cardBody.append(cardTitle);
            cardSubTitle = $('<h6 class="card-subtitle mb-2 text-muted">'+subtitle!=null?subtitle:''+'</h6>');
            cardBody.append(cardSubTitle);
            projIds = $('<h6 class="card-subtitle mb-2 text-muted">'+String(projId)+'</h6>');
            cardBody.append(projIds);
            cardText = $('<p class="card-text">'+description+'</p>');
            cardBody.append(cardText);
            if (!anyServ) {
                x = $('<a href="#" class="card-link">create project \''+title+'\' in server</a>');
                cardBody.append(x);
            }
            return card;
        }
        function createServCard(title,projId,subtitle,description,anyDB){
            card = $('<div class="card" style="width: 18rem;"></div>');
            cardBody = $('  <div class="card-body"></div>');
            card.append(cardBody);
            cardTitle = $('<h5 class="card-title">'+title+'</h5>');
            cardBody.append(cardTitle);
            cardSubTitle = $('<h6 class="card-subtitle mb-2 text-muted">'+subtitle!=null?subtitle:''+'</h6>');
            cardBody.append(cardSubTitle);
            projIds = $('<h6 class="card-subtitle mb-2 text-muted">'+String(projId)+'</h6>');
            cardBody.append(projIds);
            cardText = $('<p class="card-text">'+description+'</p>');
            cardBody.append(cardText);
            if (!anyDB) {
                x = $('<a href="#" class="card-link">store project \''+title+'\' as active project</a>');
                cardBody.append(x);
            }
            return card;
        }
        progress = $('<div></div>');
        $("#content").append(progress);
        progress.progressbar({
          value: false
        });
        $.ajax(
            {
                url: "{% url 'project_sync_explorer'%}",
                type: "GET"
            }
        ).done(function(data){
            $("#content").html(JSON.stringify(data));
            table = $('<table class="table"></table>');

            thead=$('<tbody></tbody>');
            table.append(thead);
            thead.append('<tr><td>Active Annotation Project</td><td>On Label Studio Server</td></tr>');
            tbody=$('<tbody></tbody>');
            table.append(tbody);
            $("#content").html(table);

            sv_s = data['server'];
            db_s = data['db'];
            svProjMin = 0;
            svIdx = 0;

            thereSameProjIdx = false;
            for (dbProj of db_s) {
                console.log(dbProj);
                prjId = dbProj['project_id'];
                svProjIdx = svProjMin;
                while (svProjIdx <= prjId & svIdx < sv_s.length) {
                    svProj = sv_s[svIdx]
                    svProjIdx = svProj['project_id'];
                    col1Content = null;
                    if (svProjIdx == prjId) {
                        col1Content = createDBCard(dbProj['title'],dbProj['project_id'],dbProj['description'],
                            "Task count: " + String(dbProj['task_number'] + ", finished: "
                            + (dbProj['finished']?"true":"false")+", active: "
                            +(dbProj['active']?"true":"false")
                            ),true);
                        thereSameProjIdx = true;
                    }
                    col2Content =
                    createServCard(svProj['title'],svProj['project_id'],svProj['description'],
                        "Task count: " + String(svProj['task_number']),col1Content!=null);

                    row = createRow(col1Content,col2Content);
                    tbody.append(row);
                    svIdx++
                }
                if (!thereSameProjIdx){
                    col1Content = createDBCard(dbProj['title'],dbProj['project_id'],dbProj['description'],
                        "Task count: " + String(dbProj['task_number'] + ", finished: "
                        + (dbProj['finished']?"true":"false")+", active: "
                        +(dbProj['active']?"true":"false")
                        ),false);
                    row = createRow(col1Content,null);
                    tbody.append(row);
                }
            }
            if (svIdx < sv_s.length) {
                while(svIdx < sv_s.length){
                    svProj = sv_s[svIdx];

                    col2Content =
                    createServCard(svProj['title'],svProj['project_id'],svProj['description'],
                        "Task count: " + String(svProj['task_number']),col1Content!=null);
                    row = createRow(null,col2Content);
                    tbody.append(row);
                    svIdx++;
                }

            }
        });
    }
  /*
      $(document).ready(function(){
        $.ajax({
          url:'http://localhost:8080/api/projects?page=1&page_size=10000&include=id,title',
          beforeSend: function (xhr) {
              xhr.setRequestHeader ("Authorization", 'Token 5ded9f7401d8ce43ed2e70eb04d554981ac7214d');
          },
          success: function (data){
            $("#content").html(JSON.stringify(data));
          }
        });
      });
      */
  </script>
{% endblock %}


{% block contentbody %}
            <div class="row">
                <div class="col-3">

                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                      <button type="button" class="btn btn-outline-dark" onclick="getFromDatabase();">From Server</button>
                      <button type="button" class="btn btn-outline-dark">From Database</button>
                      <button type="button" class="btn btn-outline-dark">Sync</button>
                    </div>
                </div>
                <div class="col-8">
                    <div id="content">
                        <table class="table">
                            <thead>
                                <tr><td>Active Annotation Project</td><td>On Label Studio Server</td></tr>
                            </thead>
                            <tbody>
                                {% for x in table_content %}
                                <tr><td>{% if x.db.title %}
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ x.db.title }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ x.db.project_id }}</h6>
                                        </div>
                                    </div>
                                    {% endif %}</td>
                                <td>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ x.server.title }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ x.server.project_id }}</h6>
                                        </div>
                                    </div>

                                </td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                </div>
            </div>
{% endblock %}
