{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    {% block css %}{% endblock %}
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    {% block jsscript %}{% endblock %}

</head>
<body class="container-fluid">
	<div class="sticky-top">
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"> <img src="{% static 'images/logo.png' %}"
					alt="Logo" width="60" height="48"
					class="d-inline-block align-text-top"> <span>Label
						Manager</span>
				</a>
				<ul class="navbar-nav"></ul>
				<div class="d-flex flex-row-reverse bd-highlight">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
							  <li class="nav-item dropdown">
								  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-user mx-1"></i> Profile </a>
								  </a>


								  <ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">Action</a></li>
									<li><a class="dropdown-item" href="#">Another action</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#">Something else here</a></li>
								  </ul>
							  </li>
							  <li><div style="width:4.5em;">&nbsp;</div></li>
						  </ul>
					</div>
				</div>
			</div>
		</nav>
<div class="container-fluid">
            <div class="row">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_area'%}">Sync</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_project'%}">Create Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload_model'%}">Upload Yolo Model</a>
                  </li>
                </ul>
            </div>
            <div class="row">

		{% block contentbody %}{% endblock %}
            </div>
        </div>
	</div>

</body>
</html>