{% extends "master.html" %}

{% block title %}
  Model Form
{% endblock %}


{% block jsscript %}
  <script>

  </script>
{% endblock %}


{% block contentbody %}
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    <h4>Upload Yolo V5 Model</h4>
                    <p>&nbsp;</p>
                    <h4>{{ message }}</h4>
                </div>
                <div class="col-5"></div>
            </div>
{% endblock %}
