{% extends "master.html" %}

{% block title %}
  Model Form
{% endblock %}


{% block jsscript %}
  <script>

  </script>
{% endblock %}


{% block contentbody %}
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    <h4>Upload Yolo V5 Model</h4>
                    <p>Aplikasi hanya bisa memakai yolo versi 5</p>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table  table-borderless">{{ form }}</table>

                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="col-5"></div>
            </div>
{% endblock %}
