{% extends "master.html" %}

{% block title %}
  Label Studio Project Editor
{% endblock %}


{% block jsscript %}
  <script>
  /*
      $(document).ready(function(){
        $.ajax({
          url:'http://localhost:8080/api/projects?page=1&page_size=10&include=id,title',
          beforeSend: function (xhr) {
              xhr.setRequestHeader ("Authorization", 'Token 5ded9f7401d8ce43ed2e70eb04d554981ac7214d');
          },
          success: function (data){
            $("#content").html(JSON.stringify(data));
          }
        });
      });
      */
  </script>
{% endblock %}


{% block contentbody %}

    {% for x in data %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ x.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">id: {{ x.project_id }}</h6>
                    <p class="card-text">Description: {{ x.description }}</p>
                    <p class="card-text">Task Number: {{ x.task_number }}</p>
                </div>
            </div>
    {% endfor %}

{% endblock %}
